@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: Georgia, "Times New Roman", Times, serif, serif;
  max-width: 1200px;
}
p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

/* nav & footer styles */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li {
  list-style-type: none;
  margin-left: 20px;
}
nav h1 {
  font-size: 3em;
}
nav p,
nav a {
  color: #777;
  font-weight: 300;
}
footer {
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}
h2 {
  margin-bottom: 40px;
}
h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}
.content {
  margin-left: 20px;
}

/* index styles */
.blogs a,
.title {
  display: block;
  margin: 25px 0;
  padding-left: 15px;
  border-left: 6px solid crimson;
  color: white;
}
.blogs a:hover h3 {
  color: crimson;
}
/* details styles */
.details {
  position: relative;
}
.delete {
  background: crimson;
  position: absolute;
  top: 40px;
  right: 20px;
  border-radius: 50%;
  padding: 8px;
}
.delete:hover {
  background: rgb(172, 7, 40);
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

/* create styles */
.create-blog form {
  max-width: 400px;
  margin: 0 auto;
}
.create-blog input,
.create-blog textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border: 2px solid crimson;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.create-blog label {
  display: block;
  margin-top: 24px;
}
textarea {
  height: 120px;
}
.create-blog button {
  width: 100%;
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px 8px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_create_user {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.form_create_user input {
  width: 200px;
  margin: 10px;
  padding: 10px;
}
.form_create_user button {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  background: crimson;
  color: white;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}

.form_create_user button:hover {
  background: #fff;
  color: crimson;
  border: 1px solid crimson;
}
.form_create_user input {
  border: 1px solid crimson;
}
.form_create_user input:focus {
  outline: none;
  border: 1px solid crimson;
}

.form_create_user a,
label,
select {
  margin: 0 12px;
}

.user_name {
  display: block;
  margin: 40px 0;
  padding-left: 15px;
  border-left: 6px solid crimson;
}
